.BigNFTSlider_box {
  margin: 0 auto;
  width: 80%;
  padding-block: 8rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}
.BigNFTSlider_box_left {
  grid-column: 1/7;
  grid-row: 1 / -1;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow-2);
  border-radius: 1rem;
  padding: 2rem;
  z-index: 1111;
  height: 60vh;
}
.BigNFTSlider_box_left h2 {
  font-size: 3rem;
  line-height: 0;
}
.BigNFTSlider_box_right {
  grid-column: 6/-1;
  grid-row: 1/-1;
  padding: 1rem;
  background-color: var(--main-bg-color);
  border-radius: 2.5rem;
  box-shadow: var(--box-shadow);
}
.BigNFTSlider_box_left_creator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.BigNFTSlider_box_left_creator_profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.BigNFTSlider_box_left_creator_profile_img {
  border-radius: 50%;
}
.BigNFTSlider_box_left_creator_profile_info {
  line-height: 0;
}
.BigNFTSlider_box_left_creator_profile_info p {
  margin-bottom: -0.7rem;
  margin-top: 1rem;
}
.BigNFTSlider_box_left_creator_collection {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.BigNFTSlider_box_left_creator_collection_icon {
  font-size: 4rem;
}
.BigNFTSlider_box_left_creator_collection_info {
  line-height: 0;
}
.BigNFTSlider_box_left_bidding_box {
  border: 3px solid var(--shadow-dark-color);
  margin-block: 2rem;
  padding: 0 4rem;
  border-radius: 0.5rem;
}
.BigNFTSlider_box_left_bidding_box_auction {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.BigNFTSlider_box_left_bidding_box small {
  background-color: var(--shadow-dark-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
}
.BigNFTSlider_box_left_bidding_box_icon {
  font-size: 2rem;
}
.BigNFTSlider_box_left_bidding_box_timer {
  display: flex;
  align-items: center;
  gap: 3rem;
  text-align: center;
  padding: 1rem 0rem 3rem 0;
  border-bottom: 1px solid var(--shadow-dark-color);
}
.BigNFTSlider_box_left_bidding_box_timer_item p {
  font-size: 2rem;
  font-weight: 900;
  line-height: 0;
}
.BigNFTSlider_box_left_button {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-block: 2rem 0rem;
}
.BigNFTSlider_box_left_sliderBtn {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  margin-top: 3rem;
}
.BigNFTSlider_box_left_sliderBtn_icon {
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.BigNFTSlider_box_left_sliderBtn_icon:hover {
  background-color: var(--shadow-dark-color);
  border-radius: 50%;
  padding: 1rem;
}

/* --------- Right Section ---------- */
.BigNFTSlider_box_right_box {
  position: relative;
}
.BigNFTSlider_box_right_box_img {
  border-radius: 2rem;
  height: 60rem;
  max-height: 60rem;
  width: 53rem;
  max-width: 53rem;
  object-fit: cover;
}
.BigNFTSlider_box_right_box_like {
  position: absolute;
  top: 3rem;
  right: 3rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
}

@media screen and (max-width: 65em) {
  .BigNFTSlider_box {
    width: 90%;
    padding-top: 0.2rem;
    margin-top: -3.5rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .BigNFTSlider_box_left {
    grid-row: auto;
    margin-right: 1.5rem;
  }
  .BigNFTSlider_box_right {
    margin-bottom: 2rem;
  }
  .BigNFTSlider_box_right_box_img {
    height: 60vh;
    width: 80vw;
  }
  .BigNFTSlider_box_left_creator {
    gap: 1rem;
    grid-template-columns: 1.3fr 1fr;
  }
  .BigNFTSlider_box_left_creator_profile_info {
    font-size: 0.8rem;
    line-height: 1;
  }
  .BigNFTSlider_box_left_creator_collection_icon {
    font-size: 1.5rem;
  }
  .BigNFTSlider_box_left_bidding_box_timer {
    gap: 2rem;
  }
  .BigNFTSlider_box_left_bidding_box_timer_item p {
    font-size: 1rem;
  }
  .BigNFTSlider_box_left_sliderBtn_icon {
    margin-top: -1.7rem;
  }
}
